body {
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 1fr 0.25fr 3fr 1fr 0.8fr;
  grid-gap: 0.6rem;
  height: 90%;
  width: 90%;
  background-color: lightblue;
  padding: 0.5rem;
}

.header {
  font-size: 4rem;
  text-align: center;
  padding: 4rem;
  grid-column: 1/4;
  background-color: #fff;
}

.meno {
  font-size: 2rem;

  text-align: center;
  padding: 1rem;
  grid-column: 1/4;
  background-color: #fff;
}
.leftContent {
  font-size: 2rem;

  text-align: center;
  padding: 1rem;
  background-color: #fff;
}
.mainContent {
  font-size: 3rem;

  text-align: center;
  padding: 1rem;
  background-color: #fff;
}
.rightContent {
  font-size: 2rem;

  text-align: center;
  padding: 1rem;
  background-color: #fff;
}
.news {
  text-align: center;
  font-size: 1.5rem;

  grid-column: 1/4;
  background-color: #fff;
}
.footer {
  text-align: center;
  font-size: 1.5rem;

  grid-column: 1/4;
  background-color: #fff;
}
